#level-1{
  display: grid;

  grid-template-columns:1fr 1fr ;
  grid-template-rows: repeat(3,1fr);

  margin:0;




  .peas{
    grid-column: 1/2;
    grid-row:1/2 ;    
  }

  .onions{
    grid-column: 2/3;
    grid-row:1/2
  }
}




#level-2{
    margin: 0;


    display: grid;


    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);


    .peas{
        grid-column:1/3 ;
        grid-row:1/2 ;
    }



}



#level-3{
    margin:0;

    display:grid;

    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr) ;

    .peas{
        grid-column:1/2 ;
        grid-row:1/2 ;
    }

    .onions{
        grid-row: 1/2;
        grid-column:2/4;
    }

    .tomatoes{
        grid-row:2/3;
        grid-column:1/span 2;
    }


    .carrots{
        grid-row: 3/4;
        grid-column: 1/4;
    }
}

#level-4{
    margin:0;
    display: grid;

    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(2, 1fr);


    .peas{
        grid-column:1/3 ;
        grid-row:1/2 ;
    }

    .onions{
        grid-column:3/4 ;
        grid-row:1/3 ;
    }

    .carrots{
        grid-column:4/5 ;
        grid-row:1/3 ;
    }

    .tomatoes{
        grid-column:1/2 ;
        grid-row:2/3 ;
    }

    .lettuce{
        grid-column:2/3 ;
        grid-row:2/3 ;
    }
}


#level-5{
    margin:0;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .carrots{
        grid-column:1/2;
        grid-row:1/4;
    }

    .onions{
        grid-column:3/4;
        grid-row:1/3;
    }

    .lettuce{
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .peas{
        grid-column:4/6;
        grid-row:2/3
    }

    .tomatoes{
        grid-row:3/4;
        grid-column:2/span 3;
    }

}